/* body{
  background-color: blueviolet;
}

h1 {
  color: yellow;
  font-size: 32px;
}

p {
  color: white;
}

a {
  color: whitesmoke;
} */

.navbar-brand {
  font-size: 32px
}
/* 
.bordered {
  border: 2px solid white;
} */
